@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xmkuco');
  src:  url('fonts/icomoon.eot?xmkuco#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xmkuco') format('truetype'),
    url('fonts/icomoon.woff?xmkuco') format('woff'),
    url('fonts/icomoon.svg?xmkuco#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-bar-chart-max:before {
  content: "\e907";
}
.icon-bar-chart-min:before {
  content: "\e908";
}
.icon-blocked-circle:before {
  content: "\e909";
}
.icon-bookmark:before {
  content: "\e90a";
}
.icon-bookmarks:before {
  content: "\e90b";
}
.icon-brackets:before {
  content: "\e90c";
}
.icon-camera:before {
  content: "\e90d";
}
.icon-cancel-circle:before {
  content: "\e90e";
}
.icon-caret-down:before {
  content: "\e90f";
}
.icon-caret-left:before {
  content: "\e910";
}
.icon-caret-right:before {
  content: "\e911";
}
.icon-caret-up:before {
  content: "\e912";
}
.icon-checked:before {
  content: "\e913";
}
.icon-circle-left:before {
  content: "\e914";
}
.icon-circle-right:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e916";
}
.icon-coin-dollar:before {
  content: "\e917";
}
.icon-coin-euro:before {
  content: "\e918";
}
.icon-coin-pound:before {
  content: "\e919";
}
.icon-coin-yen:before {
  content: "\e91a";
}
.icon-comment:before {
  content: "\e91b";
}
.icon-comments:before {
  content: "\e91c";
}
.icon-comments-full:before {
  content: "\e91d";
}
.icon-credit-cards:before {
  content: "\e91e";
}
.icon-delivery-pack:before {
  content: "\e91f";
}
.icon-delivery-truck:before {
  content: "\e920";
}
.icon-delivery-trucked:before {
  content: "\e921";
}
.icon-droplet:before {
  content: "\e922";
}
.icon-edit:before {
  content: "\e923";
}
.icon-envelope-mail:before {
  content: "\e924";
}
.icon-eye:before {
  content: "\e925";
}
.icon-eye-blocked:before {
  content: "\e926";
}
.icon-eye-minus:before {
  content: "\e927";
}
.icon-eye-plus:before {
  content: "\e928";
}
.icon-folder:before {
  content: "\e929";
}
.icon-folder-open:before {
  content: "\e92a";
}
.icon-heart-like:before {
  content: "\e92b";
}
.icon-home:before {
  content: "\e92c";
}
.icon-home-full:before {
  content: "\e92d";
}
.icon-image:before {
  content: "\e92e";
}
.icon-images:before {
  content: "\e92f";
}
.icon-info-circle:before {
  content: "\e930";
}
.icon-key-password:before {
  content: "\e931";
}
.icon-logo-facebook:before {
  content: "\e932";
}
.icon-logo-gmail:before {
  content: "\e933";
}
.icon-logo-googleplus:before {
  content: "\e934";
}
.icon-logo-instagram:before {
  content: "\e935";
}
.icon-logo-instagramnew:before {
  content: "\e936";
}
.icon-logo-mailru:before {
  content: "\e937";
}
.icon-logo-mymailru:before {
  content: "\e938";
}
.icon-logo-ok:before {
  content: "\e939";
}
.icon-logo-rss:before {
  content: "\e93a";
}
.icon-logo-skype:before {
  content: "\e93b";
}
.icon-logo-telegram:before {
  content: "\e93c";
}
.icon-logo-twitter:before {
  content: "\e93d";
}
.icon-logo-viber:before {
  content: "\e93e";
}
.icon-logo-vk:before {
  content: "\e93f";
}
.icon-logo-whatsapp:before {
  content: "\e940";
}
.icon-logo-youtube:before {
  content: "\e941";
}
.icon-marks:before {
  content: "\e942";
}
.icon-minus:before {
  content: "\e943";
}
.icon-notice:before {
  content: "\e944";
}
.icon-percentage:before {
  content: "\e945";
}
.icon-phone-one:before {
  content: "\e946";
}
.icon-phone-three:before {
  content: "\e947";
}
.icon-phone-two:before {
  content: "\e948";
}
.icon-placeholder:before {
  content: "\e949";
}
.icon-plus:before {
  content: "\e94a";
}
.icon-present:before {
  content: "\e94b";
}
.icon-quotes-left:before {
  content: "\e94c";
}
.icon-quotes-right:before {
  content: "\e94d";
}
.icon-rectangular:before {
  content: "\e94e";
}
.icon-rouble:before {
  content: "\e94f";
}
.icon-search-left:before {
  content: "\e950";
}
.icon-search-right:before {
  content: "\e951";
}
.icon-settings:before {
  content: "\e952";
}
.icon-settings-full:before {
  content: "\e953";
}
.icon-settings-fulls:before {
  content: "\e954";
}
.icon-shield:before {
  content: "\e955";
}
.icon-shopping-cart:before {
  content: "\e956";
}
.icon-sign:before {
  content: "\e957";
}
.icon-sign-in:before {
  content: "\e958";
}
.icon-sign-out:before {
  content: "\e959";
}
.icon-star-full:before {
  content: "\e95a";
}
.icon-teethbrackets:before {
  content: "\e95b";
}
.icon-user:before {
  content: "\e95c";
}
.icon-user-check:before {
  content: "\e95d";
}
.icon-user-minus:before {
  content: "\e95e";
}
.icon-user-plus:before {
  content: "\e95f";
}
.icon-users:before {
  content: "\e960";
}
