@charset "utf-8";

/* ================================== Custom Classes Start ================================== */

.hide {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.hr {
  height: 1px;
  background: #d7d7d7;
  clear: both;
}

/* ====== Inputs ====== */

.inp,
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
  height: 35px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-radius: 0;
  font-size: 15px;
  color: #000;
  border-radius: 0px;
  box-shadow: none !important;
  background-color: rgb(250, 250, 250);
  transition: 0.3s linear;
}

.inp:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
input[type="search"]:disabled,
textarea:disabled {
  background: #e9ecef !important;
  border-color: rgb(230, 230, 230) !important;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

textarea,
textarea.form-control {
  height: 105px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-radius: 0;
  font-size: 15px;
  color: #000;
  border-radius: 0;
  box-shadow: none;
  background-color: rgb(250, 250, 250);
  transition: 0.3s linear !important;
}

textarea.inp,
textarea {
  min-height: 75px;
  resize: vertical;
}

form div.line {
  margin-bottom: .8em;
}

.inp:focus,
.inp:hover,
.inp:active,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="search"]:active,
textarea:hover,
textarea:focus,
textarea:active {
  background: #fff;
  outline: none !important;
  color: #000 !important;
  border-color: #a9a9a9 !important;
}

/* ====== Placeholders ====== */

input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

input[type="password"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="password"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="password"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="password"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="password"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="password"]:focus::placeholder {
  color: transparent;
}

input[type="tel"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="tel"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="tel"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="tel"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="tel"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="tel"]:focus::placeholder {
  color: transparent;
}

input[type="tel"]:focus::placeholder {
  color: transparent;
}

input[type="email"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="email"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="email"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus::placeholder {
  color: transparent;
}

input[type="email"]:focus::placeholder {
  color: transparent;
}

/**/
input[type="search"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="search"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="search"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

input[type="search"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="search"]:focus::placeholder {
  color: transparent;
}
/**/

textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s linear;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

/* ====== Buttons ====== */

.btn {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  padding: 6px 20px 6px;
  line-height: 1.3;
  border-radius: 1px !important;
  border-width: 2px !important;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.25s linear;
  font-family: 'GothamPro-Medium', Arial,sans-serif;
  height: auto;
}

.btn span {
  display: inline-block;
  vertical-align: middle;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
}

/* blue */
.btn.blue {
  background: #2c93d6;
  border-color: #2c93d6;
}

.btn.blue:hover {
  color: #2c93d6;
  background: #fff;
}

/* green */
.btn.green {
  background: #5cb85c;
  border-color: #5cb85c;
}

.btn.green:hover {
  color: #5cb85c;
  background: #fff;
}

/* light_blue */
.btn.light_blue {
  background: #5bc0de;
  border-color: #5bc0de;
}

.btn.light_blue:hover {
  color: #5bc0de;
  background: #fff;
}

/* orange */
.btn.orange {
  background: #f0ad4e;
  border-color: #f0ad4e;
}

.btn.orange:hover {
  color: #f0ad4e;
  background: #fff;
}

/* red */
.btn.red {
  background: #fc2a45;
  border-color: #fc2a45;
}

.btn.red:hover {
  color: #da2e46;
  background: #fff;
}

.btn.btn-lg {
  font-size: 16px;
  line-height: 25px;
}

.btn.btnsm {
  font-size: 12px;
  padding: 5px 25px;
}

.btn_slide {
  padding: 10px 20px;
}

.btn_toggle,
.btn_toggle.collapsed {
  background: #fc2a45 !important;
  border-width: 1px;
  width: 45px;
  height: 40px;
  line-height: 1;
  color: #fff;
  padding: 0;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  transition: 0.25s linear;
  float: right;
  position: relative;
  border-style: solid;
  border-color: #fc2a45;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btn_toggle span {
  bottom: auto;
  display: inline-block;
  height: 2px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 20px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
}

.btn_toggle span:before, 
.btn_toggle span:after {
  content: "";
  background: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.btn_toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-8px) rotate(0deg);
}

.btn_toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(8px) rotate(0deg);
}

.btn_toggle:not(.collapsed):before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.btn_toggle:not(.collapsed):after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn_toggle:not(.collapsed) span {
  background: transparent !important;
}

.btn_toggle:not(.collapsed) span:before, 
.btn_toggle:not(.collapsed) span:after {
  background: #fff;
}

.btn_toggle:not(.collapsed) span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.btn_toggle:not(.collapsed) span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.btn_toggle:hover,
.btn_toggle:not(.collapsed) {
  background: #fc2a45 !important;
  left: 0 !important;
}

.btn_toggle .icon-bar {
  display: block;
  width: 27px;
  height: 3px;
  border-radius: 1px;
  margin: 3px auto;
  background: #a9a9a9;
}

.btn_toggle .icon-bar + .icon-bar {
  margin-top: 8px;
}

.btn_toggle:hover .icon-bar ,
.btn_toggle:not(.collapsed) .icon-bar {
  background: #fff;
}

a.btn {
  text-decoration: none !important;
}

/* blue btn */
.btn span {
  display: inline-block;
  vertical-align: middle;
}

.dc_whit {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  padding: 3px 4px;
  border-radius: 5px;
}

img[align=right] {
  float: right;
  margin: 0 0 1em 1em;
}

img[align=left] {
  float: left;
  margin: 0 1em 1em 0;
}

.line_tr {
  margin-bottom: 15px;
}

.line_tr .dc_lab {
  display: inline-block;
  vertical-align: top;
  min-width: 160px;
}

.toTop {
  display: block;
  cursor: pointer;
  position: fixed;
  bottom: -100px;
  right: 10px;
  z-index: 1000;
  font-size: 17px;
  text-decoration: none !important;
  text-align: center;
  transition: background 0.25s linear, color 0.25s linear;
  color: #fff;
  background: #fc2a45;
  border-radius: 50%;
  padding: 4px 5px;
  opacity: 0.85;
  border-width: 2px;
  border-style: solid;
  border-color: #fc2a45;
  height: 30px;
  width: 30px;
}

.toTop:hover {
  background: #fff;
  color: #fc2a45;
}

.toTop span {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50%;
  height: 100%;
  display: block;
  padding: 16px 5px;
  transition: border-color 0.25s linear;
}

.toTop:hover span {
  border-color: #52A550;
}

/* ================================== Custom Classes End ================================== */
:root{
--font-regular:'GothamPro';
--font-medium:'GothamPro-Medium';
--font-light-italic:'GothamPro-LightItalic';
--font-bold:'GothamPro-Bold';
--top-line:#2d3e50;
--color-red: #da2e46;
}
html, body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: var(--font-regular);
  font-size: 14px;
  color:#505050;
  line-height: 18px;
}
.br_wrapper {
  overflow: hidden;
  margin: 0 auto;
  min-height: 100%;
}

/* ================================== Header Start ================================== */

.br_header{
  margin-bottom: 20px;

}
.top_line {
  background:var(--top-line);
}
.top_line .row {
  align-items: center;
}
.top_line h2 {
  font-family: var(--font-medium);
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

.br_toplist{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-red);
    top:6px;
}
.br_toplist:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1000%;
  background: var(--color-red);
  top: 0;
  left: 100%;
}
.br_toplist:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 25px solid transparent;
    border-right: 25px solid var(--color-red);
    border-bottom: 25px solid var(--color-red);
    top: 0;
    left: -50px;
}
.br_toplist li{
  
}
.br_toplist li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.br_toplist li a span+i {
    font-size: 10px;
    position: relative;
    top: 1px;
}
.br_toplist li a>span{
  margin-right: 10px;
}

.br_toplist li a b{
    font-size: 16px;
    font-family: var(--font-medium);
    font-weight: normal;
}

.br_toplist li a i {
  font-size: 20px;
  margin-right: 10px;
}
.br_toplist li a div {
  display: flex;
  flex-direction: column;
  line-height: 15px;
}
.br_logotype {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'GothamPro-Medium';
  color: #898a8c;
  text-transform: uppercase;
  width: 25%;
}

.br_logotype img {
  margin-right: 15px;
}

.br_logotype span {
  width: 25%;
  white-space: normal;
}
.br_headline{
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 0.2) /*inset 0 0 5px 2px*/;
  padding-top: 15px;
  padding-bottom: 15px;
}
.br_headline .row{
  align-items: center;
}

.br_navbar{
  padding: 0;
}

.br_collapse{

}
.br_collapse ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-medium);
  font-size: 14px;
  text-transform: uppercase;
}
.br_collapse ul li{

}
.br_collapse ul li a{
  color: #505050;
  text-decoration: none !important;
  position: relative;
}
.br_collapse ul li:hover a{
  color: var(--color-red);
}
.br_collapse ul li a:after{
  content: '';
  display: none;
  position: absolute;
  width: 40px;
  height: 4px;
  background: var(--color-red);
  left: 0;
  bottom: -10px;
}
.br_collapse ul li:last-child a:after{
  display: none;
}
.br_collapse ul li:hover a:after{
  display: block;

}
/* ================================== Header End ================================== */

/* ================================== Middle Start ================================== */
.br_middle{
}

.br_sideblock{
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 0.2);
  margin-bottom: 30px;

}

.br_sideblock div img{
  max-width: 100%;
}

.br_sideblock h2{
background: var(--color-red);
font-size: 16px;
color: #fff;
font-family: var(--font-medium);
margin:0;
text-transform: uppercase;
padding: 16px 20px;  
}

.br_sideblock ul{
  list-style: none;
  font-family: var(--font-medium);
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.br_sideblock ul li{
  
}
.br_sideblock ul li a{
  display: block;
  color: #505050;
  text-decoration: none;
  padding: 20px 20px;

}
.br_sideblock ul li:hover a{
  color: var(--color-red);
}

.br_slider{
  position: relative;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 0.2);
  padding: 10px;
  margin-bottom: 30px;
}
.br_slider_text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.br_slider_text .row {
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: flex-start;
    padding: 60px;
    flex-wrap: nowrap;
}
.br_slider_text h2{
  font-family: var(--font-medium);
  font-size: 40px;
  margin-bottom:  30px;
}

.br_slider_text h3{
  font-size: 20px;
  margin-bottom:  30px;
}
.br_slider_text .btn {
  padding: 9px 42px;
}
.br_slider_text img {
  align-self: flex-end;
}

.br_slider_text [class*="col-"]:last-child{
    display: flex;
    align-self: flex-end;
    flex: 0 0 60.666667%;
    max-width: 60.666667%;
    right: 100px;
}

.br_slider img{
  max-width: 100%;
}
.br_slider:before{
  content: '';
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.3);
}
.br_slider +p {
  text-align: justify;
  margin-bottom: 30px;

}




.br_advantage {

}
.br_advantage [class*='col-'] {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.br_advantage i {
  margin-right: 15px; 
  color: var(--color-red);
  font-size: 40px;
}
.br_advantage h3 {
  font-family: var(--font-medium);
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  color: #505050;
}

.br_advantage [class*='col-']:hover {
  background: var(--color-red);
}
.br_advantage [class*='col-']:hover i,
.br_advantage [class*='col-']:hover h3 {
  color: #fff;
}
#footer_container{
  width: 1150px;
  margin: 0 auto;
  display: flex;
}


/* ================================== Middle End ================================== */

/* ================================== Footer Start ================================== */
.br_footer{
  background: #2d3e50;
  color: #f1f1f1;
}
.br_footer .container{
    padding: 30px 0;
    justify-content: space-between;
}
.br_footer .br_logotype{
  color: #f1f1f1;
}
.br_adress{
  width: 30%;
}
.br_adress .line{
  display: flex;
  margin-bottom: 15px;
}
.br_adress .line i{
  font-size: 20px;
  color: #da2e46;
  margin-right: 15px;
}
.br_adress .line span{
  
}
.br_adress .line span a{
  text-decoration: none;
  color: #f1f1f1;
}
.br_adress .line b{
    font-family: 'GothamPro-Medium';
    font-weight: normal;
    margin-right: 10px;
    width: 56px;
}
.br_adress .line small{
  font-size: 14px;
  display: block;
}
.br_adress .line:last-child{
  margin-bottom: 0;
}

.br_footer .br_adress + .br_adress{
  width: 18%;
}

.br_policy{
  width: 22%;
}

.br_policy > a{
  color: #f1f1f1;
  text-decoration: none;
}

.br_create{
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.br_create span{
  font-family: 'GothamPro-LightItalic';
}

.br_create a{

}


/* ================================== Footer End ================================== */



