@charset "utf-8";
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xmkuco');
  src:  url('../fonts/icomoon.eot?xmkuco#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xmkuco') format('truetype'),
    url('../fonts/icomoon.woff?xmkuco') format('woff'),
    url('../fonts/icomoon.svg?xmkuco#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
    font-family: 'gotham_proregular';
    src: url('../fonts/gothampro-webfont.eot');
    src: url('../fonts/gothampro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothampro-webfont.woff2') format('woff2'),
         url('../fonts/gothampro-webfont.woff') format('woff'),
         url('../fonts/gothampro-webfont.ttf') format('truetype'),
         url('../fonts/gothampro-webfont.svg#gotham_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_probold';
    src: url('../fonts/gothampro-bold-webfont.eot');
    src: url('../fonts/gothampro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothampro-bold-webfont.woff2') format('woff2'),
         url('../fonts/gothampro-bold-webfont.woff') format('woff'),
         url('../fonts/gothampro-bold-webfont.ttf') format('truetype'),
         url('../fonts/gothampro-bold-webfont.svg#gotham_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_prolight_italic';
    src: url('../fonts/gothampro-lightitalic-webfont.eot');
    src: url('../fonts/gothampro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothampro-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/gothampro-lightitalic-webfont.woff') format('woff'),
         url('../fonts/gothampro-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/gothampro-lightitalic-webfont.svg#gotham_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_promedium';
    src: url('../fonts/gothampro-medium-webfont.eot');
    src: url('../fonts/gothampro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothampro-medium-webfont.woff2') format('woff2'),
         url('../fonts/gothampro-medium-webfont.woff') format('woff'),
         url('../fonts/gothampro-medium-webfont.ttf') format('truetype'),
         url('../fonts/gothampro-medium-webfont.svg#gotham_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

